.execution-status  {
  font-size: 12pt;
  color: #A4A4A4;
  text-align: right;
  margin-top: 5px;
}

.execution-status-print {
  font-size: 10pt;
  color: #3366FF;
  text-align: right;
  margin-top: 350px;
}

.bigglyph  {
  font-size: 300%;
  color: #000033;
  text-align: center;
}

.group  {
  padding: 20px;
}

.form-group  {
  margin-bottom: 10px;
}

.form-group label  {
  margin-bottom: 2px;
}
